html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  padding: 2em;
  background: #0B0C10;
  text-align: left;
  padding: 2.125em 15%;
  color: #66FCF1;
  margin: 0;
  
}

html {
  border-top: 2.4em solid #1F2833;
}

h1 {
  text-align: left;
  font-size: 50px;

}

h2 {
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

h3 {
    font-size: 25px;
    margin: 10px;
    font-weight: bold;
}

nav{
  margin-left: 3.2em;
  margin-right: 5em;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

nav a {
  display: block;
  padding: 4px;
  font: bold 25px/30px sans-serif;
  background: #1F2833;
  color: #66FCF1;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background: #45A29E;
}

nav li {
  float: left;
  width: 12.5em;
  list-style: none;
  right: 50%;
  text-align: center;
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
  float: left;
  left: 47%;
}

#hobbiesHeading{
    margin-bottom:8px;
}

#videoGameHeading {
    text-decoration:underline;
}

#musicHeading {
    text-decoration:underline;
}

#aboutMeHeading{
    text-decoration:underline;
}

#thisCourseHeading {
    text-decoration:underline;
}

#howIstartedcodingheading{
  text-decoration: underline;
}

#futureGoalHeading{
    text-decoration:underline;
}

#gameList {
    list-style-type: disc;
    margin-left: 3em;
}

#drumImage {
    max-width: 50%;
    height: auto;
    margin-top: 8px;
}

#roboticsImage {
    max-width: 60%;
    height: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

#armyImage{
    max-width: 25%;
    height: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

#roboticsToolsList{
    list-style-type: disc;
    margin-left: 3em;
}

#wiiVideo {
  max-width: 100%;
}

#map {
    height: 300%;
    width: 600%;
}

#iconHeading{
    font-size: 20px;
}

.googleMapsInfo {
    color: black;
    width: 320px;
}

.googleMapsInfo h1 {
    margin: 0.5em;
    margin-left: 0;
}

@media screen and (max-width: 1000px) {
  html {
    background-color: #150734;
    color: #CAE7DF;
  }
  html {
    border-top: 2.4em solid #2A3166 ;
  }
  nav a {
    background: #2A3166 ;
    color: #CAE7DF;
  }
  nav a:hover {
    background: #0F2557;
  }
}

@media screen and (max-width: 500px) {
  html {
    background-color: #150734;
    color: #CAE7DF;
  }
  html {
    border-top: 2.4em solid #2A3166 ;
  }
  nav a {
    background: #2A3166 ;
    color: #CAE7DF;
  }
  nav a:hover {
    background: #0F2557;
  }
}

@media screen and (max-width: 816px) {
  html {
    background-color: #051821;
    color: #CAE7DF;
  }
  html {
    border-top: 4.8em solid #266867 ;
  }
  nav a {
    background: #266867 ;
    color: #F8BC24;
  }
  nav a:hover {
    background: #1A4645;
  }
}
